<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Subir Imagenes</h4>
                <h6 class="card-subtitle">Sube la Imagen al servidor</h6>
                <form class="form p-t-20" #frm enctype="multipart/form-data">
                    <div class="form-group">
                        <label >Nombre de la Imagen</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" name="nombre" id="inputNombre" [(ngModel)]="nombre" placeholder="Nombre Imagen">
                        </div>
                    </div>
                  <div class="form-group">
                    <label>Seleccione el lugar a agregar imagen</label>
                    <select class="form-control" name="lugar" id="lugar" [(ngModel)]="lugar">
                      <option *ngFor="let i of lugares" [value]="i.id" >{{i.razon_social}}</option>
                    </select>
                  </div>
                    <div class="form-group">
                        <label >Archivo</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-file"></i></div>
                            <input type="file" class="form-control" name="imagen" id="inputImagen" placeholder="subir imagen" (change)="getImage($event)">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" (click)="filesChangeEvent()">Enviar</button>
                    <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                    <progress min="0" value="{{progressStatus}}" max="100"></progress>

                </form>
            </div>
        </div>
    </div>

</div>
